{
	"trailingComma": "none",
	"tabWidth": 2,
	"printWidth": 90,
	"useTabs": true,
	"semi": false,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/app/(.*)$",
		"^@/entities/(.*)$",
		"^@/shared/(.*)$",
		"^@/assets/(.*)$",
		"^../(.*)$",
		"^./(.*)$",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
